/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


 @font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .main-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     height: 100%;
     padding-left: 50px;
   }

   .app-title{
     font-family: 'Poiret One',Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
   }

   .main-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
    /* background-color: red; */
    z-index: 10;
    /* background: #00b5ad; */
    background: linear-gradient(to bottom, #00b5ad, #2ebf91);
    /* background: linear-gradient(to right, #00b5ad, #11998e); */
   }
   .main-menu .bottomMenuItems{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
   }
   .main-menu .bottomMenuItems .bottomMenuExtension{
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 0px;
    overflow: hidden;
    background-color: #002321;
   }
   .main-menu .bottomMenuItems:hover .bottomMenuExtension{
    width: 250px;
   }

   .main-menu .button{
    position: relative;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-top: 15px;
    padding-right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    display: block;
    background-color: #00232100;

    /* background: linear-gradient(to bottom, #00b5ad, #2ebf91); */
   }
   .main-menu .button:hover{
    background-color: #002321;
    transition: background-color 0.5s ease-in-out;
   }
   .main-menu .button .content{
     position: absolute;
     bottom: 0px;
     visibility: hidden;
     opacity: 0;
     left: 50px;
     height: 50px;
     background-color: #002321;
     -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;
   }
   .main-menu .button:hover .content{
     width: 200px;
     visibility: visible;
     opacity: 0.9;
     text-align: center;
     padding-top: 12px;
   }

   .main-menu .main-logo{
    background-color: #002321;
    font-size: 30px;
    padding-top: 9px;
    padding-right: 9px;
    /* background: linear-gradient(to bottom, #00b5ad, #2ebf91); */
   }

   .side-left-menu {
     /* position: fixed; */
     background-color: #f7f6f5;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: #ddd;

     left: 0px;
     height: 100%;
     overflow: auto;
     padding-top: 15px;
     padding-left: 5px;
     top: 0px;
     width: 216px;
     flex-shrink: 0;

     display: flex;
     flex: 0 0 auto;
     flex-direction: column;
     overflow: hidden;
 }

 .side-left-menu .title{
  	padding: 0 0;
  	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  	font-weight: 800;
  	line-height: 1.28571429em;
  	text-transform: none;
  	color: rgba(0,0,0,.87);
  	font-size: 15px;
  	margin-top: 15px;
  	margin-bottom: 10px;
    padding-left: 10px;
 }
 .side-left-menu .left-menu-area {
   flex: 1 1 auto;
   overflow: hidden;
   display: flex;
   flex-direction: column;
 }
 .side-left-menu .left-list {
     color: #666;
     font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
     flex: 1 1 auto;
     overflow: auto;
     overflow-x: hidden;
 }
 .side-left-menu .left-list .list-item:first-of-type{
     border-top-color: #e6e6e6;
     border-top-style: solid;
     border-top-width: 1px;
 }
 .side-left-menu .left-list .list-item{
     border-bottom-color: #e6e6e6;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     cursor: pointer;
     padding: 6px;
     margin-right: 5px;
     padding-left: 10px;
     display: flex;
 }
 .side-left-menu .left-list .list-item:hover{
     background-color: #ececec;
 }
 .side-left-menu .left-list .list-item i{
    float: right;
    vertical-align: bottom;
    bottom: 0px;
    padding: 2px;
    padding-right: 10px;
 }
 .side-left-menu .left-list .list-item .relaxed{
    flex-grow: 1;
 }

 .side-left-menu .button {
  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background-color:#ffffff;
  	-moz-border-radius:6px;
  	-webkit-border-radius:6px;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	cursor:pointer;
  	color:#666666;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ffffff;
    margin-left: 5px;
    margin-right: 5px;
  }
   .side-left-menu .button:hover {
  	background-color:#f6f6f6;
  }
   .side-left-menu .button.small {
  	padding:3px 5px;
  }
   .side-left-menu .button:active {
  	position:relative;
  	top:1px;
  }
   .side-left-menu .search_input{
    border-style: none;
    margin: 10px;
    height: 30px;
    width: 77%;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    color: #adabab;
  }
   .side-left-menu .side_searchArea{
    color: #adabab;
  }
   .side-left-menu .search_input:hover{
    border-bottom-color: #e6e6e6;
    color: #959494;
  }



   .center-container{
     height: 100%;
     padding-top: 15px;
     padding-left: 10px;
     padding-right: 10px;
     overflow: auto;
     flex-grow: 1;
   }


  .side-menu {

    /* position: fixed; */
  left: 0px;
  /* height: 100%; */
  overflow: auto;
  padding-top: 5px;
  top: 0px;
  width: 256px;

}
  .side-right-menu {

    position: fixed;
    right: 0px;
    height: 100%;
    overflow: auto;
    padding-top: 5px;
    top: 0px;
    width: 256px;

}
  .download-area-menu {
    display:none;
    position: fixed;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 5px;
    top: 0px;
    background-color: white;
    z-index: 9999
}
.tree-container{
    display: none;
    width: 100%;
    height:100%;
    position: fixed;
    top:0px;
    z-index: 9999;
    background-color: white;
}
.toc-area a{
  font-size: 12px !important;
}

.original{
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.pbsFlatView-area{
  max-height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
}
.dimmer{
  width: 100%;
  height: 100%;
  z-index: 980;
  opacity: 0.5;
  background-color: grey;
  position: fixed;
  top: 0px;
  left: 0px;
}

.action_link_pbs_req {
    display: none !important;
}

.pbs_flat_item:hover .action_link_pbs_req{
    display: block!important;
}

.top_fixed_menu{
  margin-left: 30px;
}

.app-loader-cache{
  background: linear-gradient(#99b6c1, #4a524b);
  /* background: linear-gradient(#bad4c4, #535f5e); */
  /* background : linear-gradient(to bottom, #bbd2c5, #536976); */
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 999999;

}
.app-loader-cache .spinner{
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

}
.action_startup_load_user{
    min-width: 140px !important;
}






.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: #159892;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px;
  font-family:sans-serif;
}
.node .fa {
  font-size:20px;
}



.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: #00b5ad;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}







/* SIPNER */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #dfc;
  border-color: #dfc transparent #dfc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fa, .fas {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
  }



/* flextables */
.flexTable {
  width: 100%;
  position: relative;
}
.flexTable .spreaded_titles{
  display: none;
}



.flexTable .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eaeaea;
   */
   position: relative;
}
.flexTable .row .column{
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eaeaea;
  position: relative;
}
.flexTable .row .right.floated.content{
  padding-left:1px;
  padding-top: 5px;
}
.flexTable .row:nth-child(even)  {
  background: #FCFCFC;
}

.flexTable .row .title {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-weight: bold;
}
.flexTable .row .addMagnet {
  position: absolute;
  bottom: 1px;
  width: 10%;
  height: 3px;
  background: linear-gradient(to right, #00b5ad, transparent);
  opacity: 0;
  left: 0px;
  transition: opacity .20s ease-in-out;
  z-index: 5;
}
.flexTable .row .addMagnet:hover {
  opacity: 0.5;
}
.flexTable .row .addMagnet .addPopup {
	position: absolute;
	top: -8px;
	background: transparent;
	color: white;
	width: 20px;
	height: 8px;
	/* align-content: center; */
	padding-left: 6px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .20s ease-in-out;
  transition: height .20s ease-in-out;
  transition: top .20s ease-in-out;
}
.flexTable .row .addMagnet:hover .addPopup {
	background: #2dbe91;
	height: 20px;
  opacity: 0.8;
  top: -18px;

}
.flexTable .top.row {
  text-align: center;
  font-weight: bold;
}
.flexTable .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flexTable .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flexTable .column .content .edit.icon{
  opacity: 0.1;
}
.flexTable .row .edit.icon{
  opacity: 0.2;
  cursor:pointer;
}
.flexTable .column:hover .edit.icon{
  opacity: 0.4;
  cursor:pointer;
}
.flexTable .column.extra {
  flex: 0 0;
}

.flexTable .table-first-col {
  display: none ;
}

/* expanded part */
.flexTable.expanded .row {
  flex-wrap: nowrap;
  /* height:  60px; */
}
.flexTable.expanded .table-first-col {
  width: 400px;
  height: 0px;
  overflow: visible;
  position: sticky;
  left: 0px;
  z-index: 2;
  display: block;
}
/* .flexTable.expanded .table-first-col .row  .column {
  visibility: hidden
}
.flexTable.expanded .table-first-col .row .column:first-child{
  visibility: visible;
}
.flexTable.expanded .table-first-col .row div:nth-child(2){
  visibility: visible;
} */
.flexTable.expanded .table-first-col .row {
  width: 400px;
  /* height:  60px; */
  overflow: hidden;
}
.flexTable.expanded .table-first-col .spreaded_titles {
  display: block;
  background: white;
}
.flexTable.expanded:hover .table-first-col .spreaded_titles {
  box-shadow: 17px 0px 8px -13px rgba(0,0,0,0.13);
}

.flexTable.expanded .column {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 400px;

}
.flexTable.expanded .top-line .column {
  background: white;
}
.flexTable.expanded .row:nth-child(2n) .column {
    background: #FCFCFC;
}
/* end expanded part */

.flexTable.spreaded .table{
  overflow-x: auto;
}

.flexTable.spreaded .row {
  flex-wrap: nowrap;
}
.flexTable.spreaded .row .title:first-child {
  flex: 0 0 300px;
}
.flexTable.spreaded .row .column:first-child {
  flex: 0 0 300px;
}
.flexTable.spreaded .row .title{
  flex: 0 0 300px;
}
.flexTable.spreaded .row .column{
  flex: 0 0 300px;
  flex-wrap: nowrap;
}

.flexTable.spreaded .spreaded_titles{
  overflow: hidden;
  display: inline-block;
  position: absolute;
  background-color: white;
  z-index: 2;
  left: 0px;
  top: 0px;
}
.flexTable.spreaded:hover .spreaded_titles.shadowed{
  box-shadow: 17px 0px 8px -13px rgba(0,0,0,0.13);
}


.tag_area{
  display: flex;
}
.tag_area .tag_list{
  padding-bottom: 2px;
  border-bottom-style: solid;
  margin-bottom: 3px;
  border-bottom-width: 1px;
  border-color: lightgray;
}
.tag_area .tag_list .tag{

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:12px;
  font-weight: normal;
  padding:0px 9px;
  text-decoration:none;
  margin-left: 2px;
  margin-right: 2px;
}
.manage_tag_button{
  cursor:pointer;
}

.eph.teal{
  background-color: #02b5ab !important;
  color:#ffffff !important;
  border-color: #02b5ab !important;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
