/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .main-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     height: 100%;
     padding-left: 50px;
     padding-top: 10px;
   }

   .main-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
    /* background-color: red; */
    z-index: 10;
    /* background: #00b5ad; */
    background: linear-gradient(to bottom, #00b5ad, #2ebf91);
    /* background: linear-gradient(to right, #00b5ad, #11998e); */
   }
   .main-menu .bottomMenuItems{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
   }
   .main-menu .bottomMenuItems .bottomMenuExtension{
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 0px;
    background-color: #002321;
   }
   .main-menu .bottomMenuItems:hover .bottomMenuExtension{
    width: 250px;
   }

   .main-menu .button{
    position: relative;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-top: 15px;
    padding-right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    display: block;
    /* background: linear-gradient(to bottom, #00b5ad, #2ebf91); */
   }
   .main-menu .button .content{
     position: absolute;
     bottom: 0px;
     visibility: hidden;
     opacity: 0;
     left: 50px;
     height: 50px;
     background-color: #002321;
     -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;
   }
   .main-menu .button:hover .content{
     width: 200px;
     visibility: visible;
     opacity: 0.9;
     text-align: center;
     padding-top: 12px;
   }

   .main-menu .main-logo{
    background-color: #002321;
    font-size: 30px;
    padding-top: 9px;
    padding-right: 9px;
    /* background: linear-gradient(to bottom, #00b5ad, #2ebf91); */
   }

   .side-left-menu {
     /* position: fixed; */
     left: 0px;
     height: 100%;
     overflow: auto;
     padding-top: 5px;
     padding-left: 5px;
     top: 0px;
     width: 256px;
     flex-shrink: 0;
 }
   .center-container{
     height: 100%;
     overflow: auto;
     flex-grow: 1;
   }


  .side-menu {

    /* position: fixed; */
  left: 0px;
  /* height: 100%; */
  overflow: auto;
  padding-top: 5px;
  top: 0px;
  width: 256px;

}
  .side-right-menu {

    position: fixed;
    right: 0px;
    height: 100%;
    overflow: auto;
    padding-top: 5px;
    top: 0px;
    width: 256px;

}
  .download-area-menu {
    display:none;
    position: fixed;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 5px;
    top: 0px;
    background-color: white;
    z-index: 9999
}
.tree-container{
    display: none;
    width: 100%;
    height:100%;
    position: fixed;
    top:0px;
    z-index: 9999;
    background-color: white;
}
.toc-area a{
  font-size: 12px !important;
}

.original{
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.pbsFlatView-area{
  max-height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
}
.dimmer{
  width: 100%;
  height: 100%;
  z-index: 980;
  opacity: 0.5;
  background-color: grey;
  position: fixed;
  top: 0px;
  left: 0px;
}

.action_link_pbs_req {
    display: none !important;
}

.pbs_flat_item:hover .action_link_pbs_req{
    display: block!important;
}

.top_fixed_menu{
  margin-left: 30px;
}

.app-loader-cache{
  background : linear-gradient(to bottom, #bbd2c5, #536976);
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 999999;

}
.app-loader-cache .spinner{
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

}






.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px;
  font-family:sans-serif;
}
.node .fa {
  font-size:20px;
}



.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}







/* SIPNER */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #dfc;
  border-color: #dfc transparent #dfc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fa, .fas {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
  }






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
